div:has(> section.filter-wrapper) {
    width: 100%;
    max-width: 680px;
    margin-inline: auto;
}

section.filter-wrapper {
    font-family: "Hanken Grotesk", sans-serif;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    gap: 5px;
}

section.filter-wrapper h3 {
    font-size: 0.9rem;
    color: var(--color);
}

section.filter-wrapper .color-option {
    padding: 4px 6px;
    border-radius: 4px;
    cursor: pointer;
}
